body {
    background-color:  lightyellow;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: space-around;
}

.active {
    background-color: aliceblue;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.pepe {
    height: 100vh;
}